
 * {
    box-sizing: border-box; /**/
}
/*estilos reutilizables*/
*, ::after, ::before {
    box-sizing: border-box;
}

.text-uppercase{
  text-transform: uppercase;
}




/*estilos generales*/
.container {
    max-width: 1140px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section{
    display: block;
    padding: 100px 0;
}

a{
    text-decoration: none;
    color: white;
}
.image {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
/*estilos de etiquetas generales*/
body {
margin: 0;
font-family: Montserrat, Lato;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
background-color: #fff;
}
p, span{
    font-family: Lato;
    font-size: 17px;
}
header{
   
    position: fixed;
    top:0;
    right: 0;
    left:0;
    z-index:1000;
    background-color: #2c3e50;   
}
 header ul{
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    left: 90%;   
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
/*clases para la cabecera*/
header #mainNav {
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: #2c3e50;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
#mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
}

#mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
}

header li{
    display: inline-block;
}
header div a{
    margin: 0 20px;
    font-weight: 700;
}

nav div a{
    
 margin-left: 10%;
 font-size: 30px;
 height: 58px;
 margin-right: 16px;
 margin-left: 16px;
 width: 378px;
}

nav div ul li a{
    margin-left: 15%;
    font-size: 20px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
a.active, a:active, a:focus, a:hover {
    color: #18bc9c;
    outline: 0;
}
.navbar{
display: inline-block;
}

nav div{
    display: inline-block;
    margin-left: 80px;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.name{
    font-size: 80px;
}


/*clases para la sección inicial*/


#start{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    background: #18bc9c;  
    outline-color:   red; 
}

hr.star-light {
    border-color: #fff;
}

hr.star-light, hr.star-primary {
    max-width: 250px;
    margin: 25px auto 30px;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 5px;
}

#start .container{
    padding-top: 100px;
    padding-bottom: 100px;
    position: 50%;
}


section .container .image {
    display: block;
    margin: 0 auto 20px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

#start .container .text-initial .name{
    font-family: Montserrat!important;
    font-weight: 700px;
}

#start .container .text-initial .skills{
    font-family: Lato!important;
}

/*Estilos de la seccion portfolio*/

#portfolio * {
    z-index: 2;
}

.text-center {
    text-align: center!important;
}

section h2 {
    font-size: 3em;
    margin: 0;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

section.success {
    color: #fff;
    background: #18bc9c;
}


/*Estilos sección about me*/
.btn-success {
    font-weight: 700;
    color: #fff;
    border-color: #18bc9c;
    background-color: #18bc9c;
}

.btn-outline {
    font-size: 20px;
    margin-top: 15px;
    transition: all .3s ease-in-out;
    color: #fff;
    border: solid 2px #fff;
    background: 0 0;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*
a, a.active, a:active, a:focus, a:hover {
    color: #18bc9c;
    outline: 0;
}*/

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.success .row div:first-child{
    margin-left: 19%;
}
.col-lg-4{
    
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
}
.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.p {
    font-size: 20px;
    margin-bottom: 1rem;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.row div a:hover{
background-color: white;
color:#18bc9c;
}

/*Estilos contact me*/
form {
    display: block;
    margin-top: 0em;
    width: 56%;
    height: 50%;
    margin-left: 18%;
}
.floating-label-form-group input, .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    box-shadow: none!important;
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #aeb0b3;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*estilos del footer*/

footer {
    color: #fff;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-above:last-child a{
    color:#18bc9c;
}

footer .footer-above a:hover{
    text-decoration: underline;
    background-color: none;
}
.list-inline-item{
    display: inline-block;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #2c3e50;
}
footer h3 {
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}

.h3, h3 {
    font-size: 1.75rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}
footer .footer-col {
    margin-bottom: 50px;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.list-inline-item:not(:last-child) {
    margin-right: 5px;
}

.list-inline-item {
    display: inline-block;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
/*
div{
    display: block;
    margin: 0;
}*/

#portfolio .portfolio-item {
    margin: 0 0 30px;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio * {
    z-index: 2;
}


.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}
#portfolio * {
    z-index: 2;
}

/*portfoli*/
hr.star-primary {
    border-color: #2c3e50;
}

hr.star-light, hr.star-primary {
    max-width: 250px;
    margin: 25px auto 30px;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 5px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/*boton de descraga*/

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.btn-social {
    font-size: 20px;
    line-height: 45px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 100%;
}

.btn-outline {
    font-size: 20px;
    margin-top: 15px;
    transition: all .3s ease-in-out;
    color: #fff;
    border: solid 2px #fff;
    background: 0 0;
}

.fa-download:before {
    content: "\f019";
}

*, ::after, ::before {
    box-sizing: border-box;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}



/*estrella*/
.estrella{
    max-width: 250px;
    margin: 25px auto 30px;
    padding: 0;
    text-align: center;
    border: none;
}



.star-light::before {
    content: "";
    display: inline-block;
    width: 96px;
    height: 5px;
    margin-right: 7px;
    background-color: white;
    transform: translateY(-165%);
    }